<!DOCTYPE html>
  <head>

    <title>Project Dunn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <script src="https://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>

    {{{body}}}


    <script type="text/javascript" src="/assets/js/classroom.js"></script>
    <script>
    $('#logout').click(function () {
      $.post("/logout")
        .then(function(){
          window.location.href = "/login"
        });
    });
    
  </script>
  </body>
</html>
