<div class="row">
  <div>
    <h2>WELCOME</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>

<hr>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="school-name" type="text" class="validate" placeholder="Placeholder">
        <label class="active" for="school-name">School Name: </label>
      </div>
      <div class="input-field col s6">
        <input id="class-name" type="text" class="validate" placeholder="Placeholder">
        <label class="active" for="class-name">Class Name: </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="teacher-name" type="text" class="validate" placeholder="Placeholder">
        <label class="active" for="teacher-name">Teacher Name: </label>
      </div>
      <div class="input-field col s6">
        <input id="grade" type="text" class="validate" placeholder="Placeholder">
        <label class="active" for="grade">Grade: </label>
      </div>
    </div>
    <div>
      <a class="waves-effect waves-light btn-large">Save</a>
    </div>
  </form>
</div>
