<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Front Of The Class</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Button For Something?</a></li>
    </ul>
  </div>
</nav>

<div class='row'>

<!-- Houston didn't want to remove this until talking to Tatianna -->
<!--================================================================-->
  <!-- Classroom seating -->
  <!-- <div class='col s8'>
    <div class='row'>
      {{#each studentInfo}}
      <div class='col s2 student'>
        <a class="waves-effect waves-light btn">{{this.student_name}}</a>
      </div>
      {{/each}}
    </div>
  </div> -->
<!--================================================================-->

<!-- Classroom seating -->
  <div id="seatingContainer" class='col s8'>

    <!-- Modal Trigger -->
    <div class="col s1"></div>
    <a id="modalButton" class="waves-effect waves-light btn col s10" href="#modal1">Assign Grades</a>
    <!-- <div class="col s1"></div> -->

    <div id="whereToPutSeats"></div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

  </div>

  <!-- Sidebar with additional information -->
  <div id='sidebar' class='col s4'>
    <div class='row'>
        <!-- Randomize Button -->
        <a id='randomize' class="waves-effect waves-light btn">Generate Class Seating</a>
    </div>
    <div id='classSpecs' class='row'>
      <h5>Class: Physics 101</h5>
      <h5>Teacher: Lucas Dunn</h5>
      <h5>Grade: 10</h5>
    </div>
    <div id='lessonPlan' class='row'>
      <h5>Lesson Plan</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        <a href="https://docs.google.com/document/d/1ZkaDSltDIJukowQPu3S_POeUEWChsMNWEXjJB90SmIM/edit?usp=sharing" target="_blank">Link to Lesson Plan/Class Activity</a>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/classroom.js"></script>
