<!DOCTYPE html>
  <head>

    <title>Class Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

  </head>

  <body>
    <div class="container">
      <div class="row classInfoContainer">
        <div class="col s1"></div>

        <!-- classInfoForm -->
        <form  id="classForm" class="create-update-form col s5" action="create" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="school-name" name="schoolName" type="text" class="validate">
              <label class="active" for="schoolName">School Name: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">

              <input id="class-name" name="className" type="text" class="validate">
              <label class="active" for="className">Class Name: </label>

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="teacher-name" name="teacherName" type="text" class="validate">
              <label class="active" for="teacherName">Teacher Name: </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="grade" type="text" name="grade" class="validate">
              <label class="active" for="grade">Grade: </label>
            </div>
          </div>
          <div>
            <button id="enter" type="submit" class="waves-effect waves-light btn-large col s12">Enter</button>
          </div>
        </form>


        <!-- Initial Welcome Message -->
        <div id="inspirational" class="col s5">
          <h2>Project-Dunn</h2>
          <hr>
          <!-- <h4>Welcome!</h4> -->
          <h4>
            <!-- Welcome message to the best app ever and Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
            To get started, <br />simply begin filling out the form to the left with your class' information!
          </h4>
          
          <h4>
            ENJOY!
          </h4>
          <hr>
          <p>
            <!-- *To get started, fill out the form to the left and click ENTER* -->
            Need to sign into a different/already existing class? <button type="submit" id="logout" value="logout" class="btn waves-effect">Click Here!</button>
          </p>
        </div>

        <div class="col s1"></div>
      </div>
    </div>

  </body>
</html>
