<div class="container">

  <div class="row  classInfoContainer">
    <div class="col s1"></div>

    <!-- studentInfoForm -->
    <form id="studentsForm" action="students/create" name="students" class="col s5" method="POST">
      <div class="row">
        <div id="instructions" class="col s11">
          <h5>Adding students to your class is EASY!</h5>
          <p id="studentAdditions">
            Instructions For Adding Students to class<br />
            1. Instruction 1 <br />
            2. Instruction 2 <br />
            3. Instruction 3 <br />
            4. Instruction 4 <br />
            5. Instruction 5 <br />
          </p>
        </div>
      </div>

      <div id="newStudent" class="row">
        <div class="input-field col s11">
          <input id="studentName" name="studentName" type="text" class="validate">
          <label class="active" for="studentName">Student Name: </label>
        </div>
      </div>

      <div id="addMoreStudentRow" class="row">
        <button id="addMoreStudents" type="submit" class="waves-effect waves-light btn-large col s11">Add More Students</button>
      </div>


    </form>

    <!-- Initial Welcome Message -->
    <div id="inspirational" class="col s5">

      <form name="studentName1" action="/classroom">
        <h3>Your Class!</h3>

        <!-- Where additional students get appended -->
        <div id="studentList"></div>
        <button id="submitClass" type="submit" class="waves-effect waves-light btn-large col s12">Submit Class</button>
      </form>
    </div>

    <div class="col s1"></div>
  </div>
</div>
