<html>
<head>

  <title>Student Info</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  <div class="row">
    <div>
      <h2>Student Info</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="student-name" type="text" class="validate" placeholder="Placeholder">
          <label class="active" for="student-name">Student Name: </label>
          <a class="btn-floating disabled"><i class="material-icons">add</i></a>
        </div>
      </div>
      <div>
        <a class="waves-effect waves-light btn-large">Submit</a>
      </div>
    </form>
  </div>
</body>
</html>