<div class="row">
  <div>
    <h2>Student Info</h2>
  </div>
</div>

<hr>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="student-name" type="text" class="validate" placeholder="Placeholder">
        <label class="active" for="student-name">Student Name: </label>
        <a class="btn-floating disabled"><i class="material-icons">add</i></a>
      </div>
    </div>
    <div>
      <a class="waves-effect waves-light btn-large">Submit</a>
    </div>
  </form>
</div>
