* {
  font-family: Arial;
  }

.changeView {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.changeView:hover {
  background-color:#eb675e;
}
.changeView:active {
  position:relative;
  top:1px;
}


.heading {
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.chart-container {
  display: inline-block;
}

.label:nth-child(2) {
  position: relative;
  left: 35px;
}

.chart {
  display: flex;
  justify-content: center;
}

.class-chart, .state-chart {
  padding-left: 50px;
}

.class-chart {
  fill: #00dfa1;
}

.state-chart {
  fill: #00b6ba;
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: Arial;
}

.label {
  width: 450px;
  text-align: center;
}

.bar-value {
  visibility: hidden;
}

.bar-group:hover > .bar-value {
  visibility: visible;
}

.bar-group:hover {
  fill: #006a89;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: auto;
}

.axis text {
  font-size: 18px;
}

.chart .current {
  fill: green;
  cursor: pointer;
}

.centered {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Parallel Coordinate Graph CSS */
.parcoords > canvas {
  font: 14px sans-serif;
  position: absolute;
}

.parcoords > canvas {
  pointer-events: none;
}

.parcoords text.label {
  cursor: default;
}

.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}

.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.parcoords canvas.faded {
  opacity: 0.25;
}

.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

