@font-face {
    font-family: 'Crayon';
    src: url('CoolCrayon.woff') format('woff');
}

.changeView {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}

.changeView:hover {
  background-color:#eb675e;
}

.changeView:active {
  position:relative;
  top:1px;
}

.heading {
  color: #faebd7;
  margin: 0;
  font-size: 2.3em;
  font-family: "Crayon";
}

.heading2 {
  text-align: right;
}

.headings {
  width: 30%;
  margin: 10px 0 0 10px;
}

.charts {
  float: right;
  position: relative;
  bottom: 85px;
  margin: 0 50px 0 0;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box:first-child .axis:first-child {
  margin-left: 30px;
}

.box:first-child .axis:nth-child(4) {
  margin-right: 40px;
}

.box:nth-child(3) {
  justify-content: center;
}

.axis {
  display: inline;
  font-family: "Crayon";
  color: white;
}

.parallel {
  position: fixed;
  top: 25%;
  left: 40%;
}

#parcoords {
  transition: opacity;
  opacity: .8;
}

#parcoords:hover {
  opacity: 1;
}

.contain {
  display: flex;
  flex-direction: column;
}

#link {
  text-align: center;
}

.chart-container {
  display: inline-block;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(270deg);
  color: white;
  position: relative;
  left: 100px;
  font-size: 2em;
  font-family: "Crayon";
  letter-spacing: 4px;
} 

.btn-div {
  align-self: flex-end;
}

.chart {
  display: flex;
  justify-content: center;
}

.class-chart, .state-chart {
  padding-left: 50px;
}

.class-chart {
  fill: #00dfa1;
}

.state-chart {
  fill: #81FFFF;
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: Arial;
}

.bar-value {
  visibility: hidden;
}

.bar-group:hover > .bar-value {
  visibility: visible;
}

.bar-group:hover {
  fill: #006a89;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: auto;
}

.axis text {
  font-size: 18px;
}

.chart .current {
  fill: green;
  cursor: pointer;
}

.centered {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  background-image: url("http://www.hathershawtech.com/images/Blackboard.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Parallel Coordinate Graph CSS */
.parcoords > canvas {
  font: 14px sans-serif;
  position: absolute;
}

.parcoords > canvas {
  pointer-events: none;
}

.parcoords text.label {
  cursor: default;
}

.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}

.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.parcoords canvas.faded {
  opacity: 0.25;
}

.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

@media screen and (max-width: 930px) {
  html {
    background-size: inherit;
  }

  .chart {
    display: flex;
    flex-direction: column-reverse;
  }

  .label {
    transform: none;
    bottom: 0;
  }

  .headings {
    margin: auto;
    width: 40%;
  }

  .heading2 {
    text-align: center;
  }

  .contain {
    flex-direction: row;
  }

  .charts {
    bottom: 0;
    margin: auto;
    margin-top: 50px;
  }

  .btn-div {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1172px) {
  .axis {
    margin: 0 !important;
  }
  .pheading {
    text-align: center;
    margin-top: 45px;
  }

  .box:first-child .axis:nth-child(4) {
    margin-right: 0;
  }

  .parallel {
    position: static;
    width: 65%;
    margin: auto;
    margin-top: 15px;
  }

  .box {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {
  .axis {
    margin-right: 20px !important;
  }
}





