* {
  font-family: Arial;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.parcoords > canvas {
  font: 14px sans-serif;
  position: absolute;
}

.parcoords > canvas {
  pointer-events: none;
}

.parcoords text.label {
  cursor: default;
}

.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}

.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.parcoords canvas.faded {
  opacity: 0.25;
}

.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

#heading {
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}