body {
  background-image: url("http://media.indiedb.com/images/members/1/356/355160/classroom_final_1920x1200_w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.classInfoContainer {
  padding-top: 15px;
}

.container {
  background: rgba(255,255,255,0.5);
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 10%;
}

#inspirational {
  background: rgba(255,0,50, 0.35);
  color: white;
  border-radius: 5px;
  height: 459px;
  padding: 25px;
}

#inspirational p {
  text-align: center;
}

#logout {
  background: rgba(255,255,255,0.5);
  color: black;
  margin-top: 5px;
}

#logout:hover {
  background-color: rgba(255,0,50, 0.35);
  color: white;
}

.input-field label {
 color: black;
 font-weight: bold;
}

.input-field input[type=text]:focus + label {
 color: black;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

h2 {
  text-align: center;
}

h5 {
  text-align: center;
}

#addMoreStudentsRow {
  width: 384px;
}

#studentList {
  height: 268px;
  overflow: auto;
  font-size: 18px;
  margin-bottom: 5px;
}

#instructions {
  background-color: rgba(255,0,50, 0.35);
  color: white;
  border-radius: 5px;
  height: 274px;
  padding-top: 20px;
}

#studentAdditions {
text-align: center;
padding: 3px;
padding-left: 10px;
padding-right: 10px;
margin-top: 32px
}

nav {
  background-color: #4db6ac;
  margin-top: 0px;
}

#topRow {
  margin-bottom: 0px;
}

#classSpecs {
  text-align: center;
  color: white;
  padding: 18px;
}

#lessonPlan h5 {
  text-align: center;
}

#sidebar {
  background-color: #ee6e73;
  border-bottom: solid #4db6ac 10px;
}

#randomize {
  height: 167px;
  padding-top: 66px;
  background-color: #fb8c00;
}

.classFront {
  text-align: center;
  background-color: #ee6e73;
  color: white;
}

.student {
  margin: 60px;
}

#lessonPlan {
  padding-left: 10px;
  padding-right: 40px;
  text-align: center;
  color: white;
}

#lessonPlan a {
  color: white;
}

.studentButtons {
  margin: 40px;
  width: 160px;
}

nav .brand-logo {
  margin-left: 70px;
}

#modalButton {
  background-color: #fb8c00;
  height: 167px;
  margin-top: 0px;
  padding-top: 66px;
}

#modalButton2 {
  background-color: #fb8c00;
  height: 167px;
  margin-top: 0px;
  padding-top: 66px;
}

.studentInformation {
  border-bottom: solid black 1px;
}

.grade {
  color: #f00;
}

.hwAssignment {
  color: #4db6ac;
}

#assignGradesMobile {
  display: none;
}

#ds3js:hover {
  font-size: 20px;
}

@media (max-width: 1000px) {
  #todaysHW {
    display: none;
  }

  #inputIcon {
    display: none;
  }

  #classInfoHead {
    display: none;
  }

  #randomize {
    display: none;
  }

  #whereToPutSeats {
    display: none;
  }

  #modalButton {
    display: none;
  }

  #assignGradesMobile {
    display: unset;
  }

  #sidebar {
    display: none;
  }

  body {
    background-color: #fb8c00;
  }
}
